@use "react-widgets/scss/styles.scss" with (
  $components: (
    'Combobox'
  ),
  $input-height: 31px,
  $widget-border-radius: 5px,
  $input-border-width: 3px,
  $widget-focus-width: 0px,
  $widget-font-size: 0.9em,
  );



:root {
	--bgColor: #e7e7e7;
  --bgColorLighter: #ADADAD;
  --bgColorLighterHover: #838383;
  --textColor: #2B2B2B;
  --invalidColor: #F09797;
  --validColor: #97F0A3;
  --unknownColor: #F0F097;
}

@media (prefers-color-scheme: dark) {
  
	:root {
		--bgColor: #1A1A1A;
    --bgColorLighter: #383838;
    --bgColorLighterHover: #2b2b2b;
    --textColor: #E9E9E9;
    --invalidColor: #4D1919;
    --validColor: #1c3a1c;
    --unknownColor: #3f3f1a;
	}
}

.rw-list {
  background-color: var(--bgColor);
  border-color: var(--bgColorLighter);
  color: var(--textColor);
}

.rw-list-option {
  color: var(--textColor);
  
}

.rw-list-option:hover, .rw-list-option-create:hover, 
  [data-intent=keyboard] .rw-list-option.rw-state-focus:not(.rw-state-selected), 
  [data-intent=keyboard] .rw-state-focus.rw-list-option-create:not(.rw-state-selected) {
    background-color: var(--bgColorLighterHover);
    border-color: var(--bgColorLighterHover);
  }


.rw-input {
  height: 25px;
  color: var(--textColor);
  padding: 5px 5px 5px 5px;
}

.rw-state-focus .rw-widget-picker{
  border-color: var(--bgColorLighter);
}

.rw-widget-picker {
  border-color: var(--bgColorLighter);
  
}

.rw-popup { 
  border-color: var(--bgColorLighter);
  background-color: var(--bgColorLighter);
}

.App {
  text-align: center;
  background-color: var(--bgColor);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
}

.intro {
  width: 50%;
}

input {
  background-color: var(--bgColor);
  color: var(--textColor);
  border: 3px solid var(--bgColorLighter);
  border-radius: 5px;
  height: 15px;
  padding: 5px;
  margin: 5px;
}
.error {
  background-color: var(--invalidColor);
}
.valid {
  background-color: var(--validColor);
}
.unknown {
  background-color: var(--unknownColor);
}
button {
  background-color: var(--bgColorLighter);
  color: var(--textColor);
  border: 0px solid var(--bgColorLighter);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--bgColorLighterHover);
}

label {
  color: var(--textColor);
  margin: 5px;
}
body {
  color: var(--textColor);
}
.param-inputs {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin: 10px;
}
.user-input button {
  margin: 10px;
}

.user-input {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 90%;
}


.validFile {
  background-color: var(--validColor);
}
.invalidFile {
  background-color: var(--invalidColor);
}

ul.fileOpts {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.fileButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

li > button {
  width: 90%;
}

button:disabled {
  opacity: 0.5;
}
